*.bak
*.dump
*.err
*.lst
gnsslib/*
!gnsslib/types_gnss
!gnsslib/sync
!gnsslib/rf3b
!gnsslib/gnssengine_stub
patches/
work/tb/*
!work/tb/asic_top_tb.vhd
!work/tb/riscv_soc_gnss_tb.vhd
!work/tb/uart_sim.vhd
!work/tb/ethphy_sim.vhd
!work/tb/jtag_sim.vhd
!work/tb/dpi1
!work/tb/25xx1024

