###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC6VLX240T-FF1156-1;

NET "i_sclk_p" TNM_NET = TNM_SysClk;
TIMESPEC "TS_SysClk" = PERIOD "TNM_SysClk" 5 ns ;
NET  "i_sclk_p"   LOC = "J9";
NET  "i_sclk_p"   IOSTANDARD = LVDS_25;
NET  "i_sclk_n"   LOC = "H9";
NET  "i_sclk_n"   IOSTANDARD = LVDS_25;

# button "Center"
NET "i_rst" LOC = G26;
NET "i_rst" CLOCK_DEDICATED_ROUTE = "FALSE";
# jumpers


# UART1 interface
NET "i_uart1_ctsn" LOC = T23;
NET "i_uart1_rd"   LOC = J24;
NET "o_uart1_rtsn" LOC = T24;
NET "o_uart1_td"   LOC = J25;

# GPIO
NET "i_int_clkrf"  LOC = D22;   # DIP-0. Generate ADC clock internally = sys_clk/4
NET "i_dip[1]"  LOC = C22;   # DIP-1
NET "i_dip[2]"  LOC = L21;   # DIP-2
NET "i_dip[3]"  LOC = L20;   # DIP-3
#NET "i_dip[4]"  LOC = C18;   # DIP-4
#NET "i_dip[5]"  LOC = B18;   # DIP-5
#NET "i_dip[6]"  LOC = K22;   # DIP-6
#NET "i_dip[7]"  LOC = K21;   # DIP-7


# User's LEDs:
NET "o_led[0]" LOC = AC22;
NET "o_led[1]" LOC = AC24;
NET "o_led[2]" LOC = AE22;
NET "o_led[3]" LOC = AE23;
NET "o_led[4]" LOC = AB23;
NET "o_led[5]" LOC = AG23;
NET "o_led[6]" LOC = AE24;
NET "o_led[7]" LOC = AD24;

# ADC samples:
NET "i_clk_adc" LOC = "A10";
NET "i_clk_adc" TNM_NET = TNM_AdcClk;
TIMESPEC "TS_AdcClk" = PERIOD "TNM_AdcClk" 24 ns ;
NET "i_gps_I[1]" LOC = "P32";
NET "i_gps_I[0]" LOC = "N34";
NET "i_gps_Q[1]" LOC = "P30";
NET "i_gps_Q[0]" LOC = "N32";
NET "i_gps_ld" LOC = "N33";
NET "i_glo_I[1]" LOC = "B34";#"M25";
NET "i_glo_I[0]" LOC = "C33";#"N25";
NET "i_glo_Q[1]" LOC = "G30";#"K32";
NET "i_glo_Q[0]" LOC = "F30";#"K31";
NET "i_glo_ld" LOC = "M33";


# RF control:
NET "o_max_sclk" LOC = "L31";
NET "o_max_sdata" LOC = "M31";
NET "o_max_ncs[1]" LOC = "M26";
NET "o_max_ncs[0]" LOC = "P34";
NET "i_antext_stat" LOC = "H32";
NET "i_antext_detect" LOC = "K29";
NET "o_antext_ena" LOC = "G32";
NET "o_antint_contr" LOC = "P31";
