# Kconfig - Atmel SAM3 family processor configuration options

#
# Copyright (c) 2016 Intel Corporation.
# Copyright (c) 2014-2015 Wind River Systems, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

if SOC_RISCV_GNSS

config SOC
	default riscv_gnss

config NUM_IRQS
	int
	default 5

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 60000000

#
# SRAM address depends on the SoC generic parameters.
#
config SRAM_SIZE
	default 512 if SOC_RISCV_GNSS

config SRAM_BASE_ADDRESS
	default 0x10000000


endif # SOC_RISCV_GNSS
