*.bak
*.obj
*.dump
*.err
html
fw/*
gnsslib/*
!gnsslib/fse_v2
!gnsslib/gnssengine
!fw/common/
!fw/boot/
fw/boot/linuxbuild/
patches/
work/tb/bridge0_tb.vhd
docs/*.pptx
ise/*
!ise/rocket_soc.xise
!ise/rocket_soc_kc705.ucf
!ise/rocket_soc_kc705.xdc
!ise/rocket_chip.xpr