*.bak
*.obj
*.dump
*.err
*.lst
html
latex
gnsslib
fw/*
!fw/common/
!fw/boot/
fw/boot/linuxbuild/
!fw/helloworld/
fw/helloworld/makefiles/obj/
fw/helloworld/makefiles/bin/
!fw/elf2raw64/
fw/elf2raw64/makefiles/obj/
fw/elf2raw64/makefiles/elf/
patches/
work/tb/*
!work/tb/riscv_soc_tb.vhd
!work/tb/uart_sim.vhd
!work/tb/ethphy_sim.vhd
docs/*.pptx
docs/gnss_styles.css

