*.bak
*.obj
*.dump
*.err
html
gnsslib/fse_v2/*
gnsslib/gnssengine/*
fw/*
!fw/common/
!fw/boot/
fw/boot/linuxbuild/
patches/
work/tb/*
!work/tb/rocket_soc_tb.vhd
docs/*.pptx
prj/ml605/*
!prj/ml605/rocket_soc_v6.ucf
!prj/ml605/rocket_soc.xise
prj/kc705/*
!prj/kc705/rocket_soc_kc705.ucf
!prj/kc705/rocket_soc_kc705.xdc
!prj/kc705/rocket_chip.xpr